@charset "UTF-8";
body{
    background-color: #ccccff; 
}

ul>li{
    list-style-type: '− ';
}

table{
    border-collapse: collapse;
}

td{
    border: solid 1px black;
    text-align: center;
    width: 25px;
    height: 25px;
}
#menu{
    background-color:  #6666ff; 
    border-collapse: collapse;
    width: 100%;
    height: 5%;
    
}
.colonne{
    text-align:center;
    font-size: 150%;

}

#centre{
    margin: auto;
}

#cote_2{
    display: inline;
    margin: 22.5%;
}

#cote_3{
    display: inline;
    margin: 13%;
}
